@import './variables.scss';

/* montserrat-regular - latin */
@font-face {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.big-hair-color-1 { color: $bighair-color-1 !important; }
.big-hair-color-2 { color: $bighair-color-2 !important; }
.big-hair-color-3 { color: $bighair-color-3 !important; }
.big-hair-color-4 { color: $bighair-color-4 !important; }
.big-hair-color-5 { color: $bighair-color-5 !important; }

.big-hair-bg-1 { background: $bighair-color-1 !important; }
.big-hair-bg-2 { background: $bighair-color-2 !important; }
.big-hair-bg-3 { background: $bighair-color-3 !important; }
.big-hair-bg-4 { background: $bighair-color-4 !important; }
.big-hair-bg-5 { background: $bighair-color-5 !important; }

.big-hair-border-1 { border: 1px solid $bighair-color-1 !important; }
.big-hair-border-2 { border: 1px solid $bighair-color-2 !important; }
.big-hair-border-3 { border: 1px solid $bighair-color-3 !important; }
.big-hair-border-4 { border: 1px solid $bighair-color-4 !important; }
.big-hair-border-5 { border: 1px solid $bighair-color-5 !important; }

.btn-bighair1 { background-color: $bighair-color-1; color: #FFF; &:hover { color: #FFF; }}
.btn-bighair2 { background-color: #FFF; color: $bighair-color-1; &:hover { color: $bighair-color-1; }}

body { background: $bg-body; font-family: $default-font;}
.title-header { color: $bighair-color-1;}
.user-icon { width: 32px; }
.search-button { position: absolute; margin-left: 155px; margin-top: -33px; background-color: transparent !important; border: 0em !important;}
.form-control::placeholder { color: $bighair-color-2; }
.form-control { color: $bighair-color-1 !important; &:focus { border-color: #C08D60; outline: 0; box-shadow: $box-shadow-form-control; }}
.container-services{ white-space:nowrap; overflow-x:auto; }
.border-radius-default { border-radius: $border-radius-default !important; }
.details-service { margin-top: -39px; }

body.access { background: url($access-bg); background-position: center; height: 100vh !important; background-repeat: no-repeat; overflow-y: hidden; }
body.access-desktop { background: #FFF; }
body.signup { background: url($signup-bg); background-position: center; height: 100vh !important; background-repeat: no-repeat; overflow-y: hidden; }
body.signin { background: url($signin-bg); background-position: center; height: 100vh !important; background-repeat: no-repeat; overflow-y: hidden; }

.border-radius-screen { border-radius: $border-radius-screen; }
.container-signin { box-shadow: $box-shadow-sign-in-up; }

.user-cover { height: $cover-profile-height; filter: blur($cover-profile-size); -webkit-filter: blur($cover-profile-size); }
.user-img { width: $user-img-width; height: $user-img-height; border-radius: 50%; border: 7px solid $bighair-color-1; position: relative; margin-top: -80px; }

.carousel-inner .carousel-item img { max-height: $slider-max-height; }

a.default-link { text-decoration: none !important; &:hover { text-decoration: none !important; } }

.custom-card { background: $custom-card-background !important; border: 0 !important; }
.card-body { background: $custom-card-body-background; border-bottom-left-radius:$border-radius-default; border-bottom-right-radius:$border-radius-default; }

.access-desktop-bg {  height: 100vh !important; background: url($access-desktop-bg); background-repeat: no-repeat !important; background-size: contain; overflow-y: hidden !important; overflow-x: hidden !important;}

input.access-form-control { background: transparent !important; color: #FFF; transition: all 0.37s ease !important; &:focus { color: #FFF !important; border-color: #FFF; outline: 0; box-shadow: $box-shadow-access-form-control; }}
input.access-form-control::placeholder { color: #FFF !important }
