/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
.big-hair-color-1 {
  color: #C08D60 !important;
}

.big-hair-color-2 {
  color: #C8B09B !important;
}

.big-hair-color-3 {
  color: #F7CAA3 !important;
}

.big-hair-color-4 {
  color: #F1C615 !important;
}

.big-hair-color-5 {
  color: #9A1159 !important;
}

.big-hair-bg-1 {
  background: #C08D60 !important;
}

.big-hair-bg-2 {
  background: #C8B09B !important;
}

.big-hair-bg-3 {
  background: #F7CAA3 !important;
}

.big-hair-bg-4 {
  background: #F1C615 !important;
}

.big-hair-bg-5 {
  background: #9A1159 !important;
}

.big-hair-border-1 {
  border: 1px solid #C08D60 !important;
}

.big-hair-border-2 {
  border: 1px solid #C8B09B !important;
}

.big-hair-border-3 {
  border: 1px solid #F7CAA3 !important;
}

.big-hair-border-4 {
  border: 1px solid #F1C615 !important;
}

.big-hair-border-5 {
  border: 1px solid #9A1159 !important;
}

.btn-bighair1 {
  background-color: #C08D60;
  color: #FFF;
}
.btn-bighair1:hover {
  color: #FFF;
}

.btn-bighair2 {
  background-color: #FFF;
  color: #C08D60;
}
.btn-bighair2:hover {
  color: #C08D60;
}

body {
  background: #EFEFEF;
  font-family: "Montserrat";
}

.title-header {
  color: #C08D60;
}

.user-icon {
  width: 32px;
}

.search-button {
  position: absolute;
  margin-left: 155px;
  margin-top: -33px;
  background-color: transparent !important;
  border: 0em !important;
}

.form-control::placeholder {
  color: #C8B09B;
}

.form-control {
  color: #C08D60 !important;
}
.form-control:focus {
  border-color: #C08D60;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(192, 141, 96, 0.25);
}

.container-services {
  white-space: nowrap;
  overflow-x: auto;
}

.border-radius-default {
  border-radius: 7px !important;
}

.details-service {
  margin-top: -39px;
}

body.access {
  background: url("../imgs/access-background.png");
  background-position: center;
  height: 100vh !important;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

body.signup {
  background: url("../imgs/signup-background.png");
  background-position: center;
  height: 100vh !important;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

body.signin {
  background: url("../imgs/signin-background.png");
  background-position: center;
  height: 100vh !important;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.border-radius-screen {
  border-radius: 15px 15px 0px 0px;
}

.container-signin {
  box-shadow: -1px -3px 20px 0px #FFF;
}

.user-cover {
  height: 30vh;
  background-image: url("../imgs/user-profile-cover.png");
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #C08D60;
  position: relative;
  margin-top: -80px;
}

.carousel-inner .carousel-item img {
  max-height: 450px;
}

a.default-link {
  text-decoration: none !important;
}
a.default-link:hover {
  text-decoration: none !important;
}

.custom-card {
  background: transparent !important;
  border: 0 !important;
}

.card-body {
  background: #FFF;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/*# sourceMappingURL=style.css.map */
