$bighair-color-1: #C08D60;
$bighair-color-2: #C8B09B;
$bighair-color-3: #F7CAA3;
$bighair-color-4: #F1C615;
$bighair-color-5: #9A1159;

$default-font: 'Montserrat';

$bg-body: #EFEFEF;
$border-radius-default: 7px;
$border-radius-screen: 15px 15px 0px 0px;

$access-bg: '../imgs/access-background.png';
$access-desktop-bg: '../imgs/access-background-desktop.png';
$signin-bg: '../imgs/signin-background.png';
$signup-bg: '../imgs/signup-background.png';

$box-shadow-sign-in-up: -1px -3px 20px 0px #FFF;
$box-shadow-form-control: 0 0 0 0.2rem rgba(192,141,96,.25);
$box-shadow-access-form-control: 0 0 0 0.2rem rgb(255, 255, 255);

$cover-profile-height: 30vh;
$cover-profile-size: 6px;
$user-img-width: 150px;
$user-img-height: 150px;

$slider-max-height: 450px;
$custom-card-background: transparent;
$custom-card-body-background: #FFF;
